:root {
    --text-color: #fff;
    --primary-color: #854ef2;
    --body-color: rgba(20, 9, 45, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;

}

body,
html {
    background-color: var(--body-color);
    color: var(--text-color);
    max-width: calc(100% - 15rem);
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 20px 60px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease;
    border-radius: 4px;
}

.btn--outline {
    background-color: transparent;
    color: var(--text-color);
}

.btn--outline:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.btn--primary:hover {
    background-color: var(--primary-color);
}

.badge-text {
    text-transform: uppercase;
    border: 1px solid white;
    width: fit-content;
    padding: 8px 16px;
}